<div class="footer-module footer-connect">
  {% if block.settings.show-mailing-list %}
    {%
      render 'newsletter',
      block: block,
    %}
  {% endif %}

  {% if block.settings.show-social-links %}
    <ul class="social-list">
      {% if settings.social-facebook-url != blank %}
        <li class="social-list__item">
          <a
            class="social-list__item-link"
            href="{{ settings.social-facebook-url | escape }}"
            target="_blank"
          >
            {% render 'icon' with 'facebook' %}
          </a>
        </li>
      {% endif %}

      {% if settings.social-x-url != blank %}
        <li class="social-list__item">
          <a
            class="social-list__item-link"
            href="{{ settings.social-x-url | escape }}"
            target="_blank"
          >
            {% render 'icon' with 'x' %}
          </a>
        </li>
      {% endif %}

      {% if settings.social-pinterest-url != blank %}
        <li class="social-list__item">
          <a
            class="social-list__item-link"
            href="{{ settings.social-pinterest-url | escape }}"
            target="_blank"
          >
            {% render 'icon' with 'pinterest' %}
          </a>
        </li>
      {% endif %}

      {% if settings.social-instagram-url != blank %}
        <li class="social-list__item">
          <a
            class="social-list__item-link"
            href="{{ settings.social-instagram-url | escape }}"
            target="_blank"
          >
            {% render 'icon' with 'instagram' %}
          </a>
        </li>
      {% endif %}

      {% if settings.social-kickstarter-url != blank %}
        <li class="social-list__item">
          <a
            class="social-list__item-link"
            href="{{ settings.social-kickstarter-url | escape }}"
            target="_blank"
          >
            {% render 'icon' with 'kickstarter' %}
          </a>
        </li>
      {% endif %}

      {% if settings.social-vimeo-url != blank %}
        <li class="social-list__item">
          <a
            class="social-list__item-link"
            href="{{ settings.social-vimeo-url | escape }}"
            target="_blank"
          >
            {% render 'icon' with 'vimeo' %}
          </a>
        </li>
      {% endif %}

      {% if settings.social-youtube-url != blank %}
        <li class="social-list__item">
          <a
            class="social-list__item-link"
            href="{{ settings.social-youtube-url | escape }}"
            target="_blank"
          >
            {% render 'icon' with 'youtube' %}
          </a>
        </li>
      {% endif %}

      {% if settings.social-email-address != blank %}
        <li class="social-list__item">
          <a
            class="social-list__item-link"
            href="mailto:{{ settings.social-email-address | escape }}"
            target="_blank"
          >
            {% render 'icon' with 'mail' %}
          </a>
        </li>
      {% endif %}

      {% if settings.social-rss-url != blank %}
        <li class="social-list__item">
          <a
            class="social-list__item-link"
            href="{{ settings.social-rss-url | escape }}"
            target="_blank"
          >
            {% render 'icon' with 'rss' %}
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</div>
