{% liquid
  unless form_id
    assign form_id = product.id
  endunless

  assign variant = product.selected_or_first_available_variant
  assign show_dynamic_checkout_button = settings.show_payment_button

  if product.selling_plan_groups.size > 0
    assign show_dynamic_checkout_button = false
  endif

  assign show_recipient_form = block.settings.show_gift_card_recipient_form
%}

<div
  class="
    product-form
    {% if show_dynamic_checkout_button %}
      smart-payment-buttons
    {% endif %}
  "
  data-product-form="{{ form_id }}"
>
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_media.preview_image | img_url: 'grande' }}">

  <div id="infiniteoptions-container"></div>
  <div id="uploadery-container"></div>

  {% comment %}Inject @pixelunion/pxs-gift-card-recipient-form/recipient-form begin{% endcomment %}
  {% comment %}
    @param form {Object}
      The form object
  
    @param section {Object}
      The section object
  
    @param show_recipient_form {Boolean}
      If true, show the gift card recipient form
  
    @param show_recipient_form_placeholders {Boolean}
      If true, show recipient form placeholder attributes
  
    @param show_recipient_form_labels {Boolean}
      If true, show recipient form input labels
  
    @param show_recipient_form_max_characters_message {Boolean}
      If true, show the recipient form max characters message
  
    @param recipient_form_textarea_rows {Number}
      A numerical value to specify the number of textarea rows
  
    @param recipient_form_textarea_classes {String}
      A space separated list of class names added to recipient form textarea
  
    @param recipient_form_input_classes {String}
      A space separated list of class names added to recipient form inputs
  
    @param recipient_form_label_classes {String}
      A space separated list of class names added to recipient form labels
  
    @param recipient_form_label_position {String}
      The recipient form input label position, either 'top', or 'bottom'
  {% endcomment %}
  
  {% liquid
    assign show_recipient_form_placeholders = show_recipient_form_placeholders | default: false
    assign show_recipient_form_labels = show_recipient_form_labels | default: true, allow_false: true
    assign show_recipient_form_max_characters_message = show_recipient_form_max_characters_message | default: true, allow_false: true
    assign recipient_form_textarea_rows = recipient_form_textarea_rows | default: 5
    assign recipient_form_label_position = recipient_form_label_position | default: 'top'
  %}
  
  {%- if show_recipient_form and product.gift_card? -%}
    <details class="recipient-disclosure" data-recipient-disclosure>
      <summary class="recipient-disclosure__summary">
        <label
          class="recipient-disclosure__checkbox-label"
          for="recipient-disclosure__checkbox-{{ section.id }}"
        >
          <input
            class="recipient-disclosure__checkbox"
            id="recipient-disclosure__checkbox-{{ section.id }}"
            type="checkbox"
            name="properties[__shopify_send_gift_card_to_recipient]"
            tabindex="-1"
            data-recipient-disclosure-checkbox
          >
  
          {%- render 'recipient-form-disclosure-icon' -%}
  
          <span class="recipient-disclosure__checkbox-label-text">
            {{- 'recipient.form.checkbox_label' | t -}}
          </span>
        </label>
      </summary>
  
      <div class="recipient-form" data-recipient-form>
        <div class="recipient-form__field">
          {%- if show_recipient_form_labels -%}
            {%- capture recipient_email_label -%}
              <label
                class="
                  recipient-form__label
                  {{ recipient_form_label_classes }}
                "
                for="recipient-email-{{ section.id }}"
              >
                {{- 'recipient.form.email_label' | t -}}
                <span class="recipient-form__required"> *</span>
              </label>
            {%- endcapture -%}
          {%- endif -%}
  
          {%- capture recipient_email_input -%}
            <input
              class="
                recipient-form__input
                recipient-form__input--email
                {{ recipient_form_input_classes }}
              "
              id="recipient-email-{{ section.id }}"
              type="email"
              {%- if show_recipient_form_placeholders -%}
                placeholder="{{- 'recipient.form.email_placeholder' | t -}}"
              {%- endif -%}
              {%- unless show_recipient_form_labels -%}
                aria-label="{{- 'recipient.form.email_placeholder' | t -}}"
              {%- endunless -%}
              name="properties[Recipient email]"
              value="{{ form.email }}"
              data-recipient-form-input
              data-recipient-form-email-input
            >
          {%- endcapture -%}
  
          {%- capture recipient_error_message -%}
            <span class="recipient-form__error-message" data-recipient-form-error-message>
              {{- 'recipient.form.error_message' | t -}}
            </span>
          {%- endcapture -%}
  
          {%- if recipient_form_label_position == 'top' -%}
            <div class="recipient-form__input-wrapper">
              {{- recipient_email_label -}}
              {{- recipient_email_input -}}
            </div>
            {{- recipient_error_message -}}
          {%- else -%}
            <div class="recipient-form__input-wrapper">
              {{- recipient_email_input -}}
              {{- recipient_email_label -}}
            </div>
            {{- recipient_error_message -}}
          {%- endif -%}
        </div>
  
        <div class="recipient-form__field">
          <div class="recipient-form__input-wrapper">
            {%- if show_recipient_form_labels -%}
              {%- capture recipient_name_label -%}
                <label
                  class="
                    recipient-form__label
                    {{ recipient_form_label_classes }}
                  "
                  for="recipient-name-{{ section.id }}"
                >
                  {{- 'recipient.form.name_label' | t -}}
                </label>
              {%- endcapture -%}
            {%- endif -%}
  
            {%- capture recipient_name_input -%}
              <input
                class="
                  recipient-form__input
                  recipient-form__input--name
                  {{ recipient_form_input_classes }}
                "
                id="recipient-name-{{ section.id }}"
                type="text"
                {%- if show_recipient_form_placeholders -%}
                  placeholder="{{- 'recipient.form.name_placeholder' | t -}}"
                {%- endif -%}
                {%- unless show_recipient_form_labels -%}
                  aria-label="{{- 'recipient.form.name_placeholder' | t -}}"
                {%- endunless -%}
                name="properties[Recipient name]"
                value="{{ form.name }}"
                data-recipient-form-input
              >
            {%- endcapture -%}
  
            {%- if recipient_form_label_position == 'top' -%}
              {{ recipient_name_label }}
              {{ recipient_name_input }}
            {%- else -%}
              {{ recipient_name_input }}
              {{ recipient_name_label }}
            {%- endif -%}
          </div>
        </div>
  
        <div class="recipient-form__field">
          <div class="recipient-form__input-wrapper">
            {%- liquid
              assign max_characters_length = 200
  
              if show_recipient_form_max_characters_message
                assign max_characters_message = 'recipient.form.max_characters' | t: max_characters: max_characters_length
              endif
            -%}
  
            {%- if show_recipient_form_labels -%}
              {%- capture recipient_message_label -%}
                <label
                  class="
                    recipient-form__label
                    {{ recipient_form_label_classes }}
                  "
                  for="recipient-message-{{ section.id }}"
                >
                  {{- 'recipient.form.message_label' | t -}}
                </label>
              {%- endcapture -%}
            {%- endif -%}
  
            {%- capture recipient_message_input -%}
              <textarea
                class="
                  recipient-form__input
                  recipient-form__input--message
                  {{ recipient_form_input_classes }}
                  {{ recipient_form_textarea_classes }}
                "
                id="recipient-message-{{ section.id }}"
                {%- if show_recipient_form_placeholders -%}
                  placeholder="{{- 'recipient.form.message_placeholder' | t -}}"
                {%- endif -%}
                {%- unless show_recipient_form_labels -%}
                  aria-label="{{- 'recipient.form.message_placeholder' | t -}}"
                {%- endunless -%}
                name="properties[Message]"
                {%- if recipient_form_textarea_rows != 0 -%}
                  rows="{{ recipient_form_textarea_rows }}"
                {%- endif -%}
                maxlength="{{ max_characters_length }}"
                data-recipient-form-input
              >
                {{- form.message -}}
              </textarea>
            {%- endcapture -%}
  
            {%- if recipient_form_label_position == 'top' -%}
              {{ recipient_message_label }}
              {{ recipient_message_input }}
            {%- else -%}
              {{ recipient_message_input }}
              {{ recipient_message_label }}
            {%- endif -%}
          </div>
  
          {%- if show_recipient_form_max_characters_message -%}
            <span class="recipient-form__max-characters-message">
              <small>
                {{- max_characters_message -}}
              </small>
            </span>
          {%- endif -%}
        </div>
      </div>
    </details>
  {%- endif -%}
  {% comment %}Inject @pixelunion/pxs-gift-card-recipient-form/recipient-form end{% endcomment %}


<div class="product-submit" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ product.price }}"></span>
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="hasMerchantReturnPolicy" content="true">

    <!-- Merchant Return Policy -->
    <span itemprop="hasMerchantReturnPolicy" itemscope itemtype="http://schema.org/MerchantReturnPolicy">
        <meta itemprop="returnPolicyCategory" content="https://schema.org/MerchantReturnUnlimitedWindow">
        <meta itemprop="merchantReturnDays" content="30">
        <meta itemprop="returnFees" content="https://schema.org/ReturnShippingFees">
    </span>

    <span class="payment-buttons-container">
      {% if product.available %}
      <span class="product__atc-wrapper" data-atc-available>
        <input class="add-to-cart" type="submit" value="Add to cart" />
        <link itemprop="availability" href="http://schema.org/InStock">
      </span>
      {% else %}
      <span class="product__atc-wrapper" data-atc-unavailable>
        <input type="button" class="add-to-cart disabled" disabled value="Sold out" />
        <link itemprop="availability" href="http://schema.org/OutOfStock">
      </span>
      {% endif %}
    </span>

    <span itemprop="shippingDetails" itemscope itemtype="http://schema.org/OfferShippingDetails">
        <meta itemprop="shippingRate" content="{{ shipping_rate_price | money }}">
        <meta itemprop="value" content="{{ shipping_rate_price }}">
        <meta itemprop="shippingDestination" itemscope itemtype="http://schema.org/DefinedRegion">
            <meta itemprop="addressCountry" content="{{ shop.country }}">
        </meta>

        <!-- Correct deliveryTime usage with QuantitativeValue -->
        <span itemprop="deliveryTime" itemscope itemtype="http://schema.org/ShippingDeliveryTime">
            <span itemprop="transitTime" itemscope itemtype="http://schema.org/QuantitativeValue">
                <meta itemprop="minValue" content="1">
                <meta itemprop="maxValue" content="2">
                <meta itemprop="unitText" content="day"> <!-- Use 'unitText' instead of 'unitCode' -->
            </span>
        </span>
    </span>
</div>


  <div class="product-message"></div>

  <div class="surface-pick-up" data-surface-pick-up></div>
</div>