{% liquid
  assign queries_available = false
  assign products_results_available = false
  assign collections_results_available = false
  assign pages_results_available = false
  assign posts_results_available = false
  assign pages_posts_results_available = false
  assign two_columns = false
  assign no_search_results = true

  if predictive_search.resources.queries.size > 0
    assign queries_available = true
  endif

  if predictive_search.resources.products.size > 0
    assign products_results_available = true
  endif

  if predictive_search.resources.collections.size > 0
    assign collections_results_available = true
  endif

  if predictive_search.resources.pages.size > 0
    assign pages_results_available = true
  endif

  if predictive_search.resources.articles.size > 0
    assign posts_results_available = true
  endif

  if pages_results_available or posts_results_available
    assign pages_posts_results_available = true
  endif

  if products_results_available and pages_posts_results_available
    assign two_columns = true
  endif

  if queries_available or products_results_available or collections_results_available or pages_posts_results_available
    assign no_search_results = false
  endif
%}

<div data-html>
  <div class="livesearch-content" data-livesearch-content>
    {%- if predictive_search.performed -%}
      <div class="livesearch-dropdown-wrapper">
        <div class="livesearch-results-wrapper">

          {%- if predictive_search.resources.queries.size > 0 or collections_results_available -%}
            <div class="livesearch-results-queries-collections">
              <h3 class="livesearch-queries-header meta">{{ 'general.livesearch.suggestions' | t }}</h3>
              <ul class="livesearch-queries-collections-list">
                {%- for query in predictive_search.resources.queries -%}
                  <li class="livesearch-query-result livesearch-query-result--query">
                    <a class="livesearch-query-link" href="{{ query.url }}">{{ query.styled_text }}</a>
                  </li>
                {%- endfor -%}
                {%- for collection in predictive_search.resources.collections -%}
                  <li class="livesearch-query-result livesearch-query-result--collection">
                    <a class="livesearch-query-link" href="{{ collection.url }}">{{ collection.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}

          {%- if products_results_available or pages_posts_results_available -%}
            <div class="
              livesearch-products-pages-posts-wrapper
              {% if two_columns %}livesearch-products-pages-posts-wrapper--two-columns{% endif %}
              "
            >
              {%- if products_results_available -%}
                <div class="livesearch-results-products">
                  <h3 class="livesearch-products-header meta">{{ 'general.livesearch.products_results_header' | t }}</h3>
                  <ul class="livesearch-products-list">
                    {%- for product in predictive_search.resources.products -%}
                      <li class="livesearch-product">
                        <a
                          class="livesearch-product-link"
                          href="{{ product.url }}"
                          aria-label="{{ product.title }}"
                        >
                          {%- if product.featured_media != blank -%}
                            <figure class="livesearch-product-figure">
                              {%
                                render 'rimg'
                                img: product.featured_media.preview_image,
                                alt: product.featured_media.preview_image.alt,
                                size: '70x',
                                lazy: true,
                              %}
                            </figure>
                          {%- else -%}
                            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                          {%- endif -%}
                          <div class="livesearch-product-content">
                            <h4 class="livesearch-product-title">{{ product.title }}</h4>
                            <div
                              class="
                                livesearch-product-price
                                product-price
                                sale
                              "
                            >
                              <span class="money">{{ product.price | money }}</span>
                              {%- if product.compare_at_price > product.price -%}
                                <span
                                  class="
                                    product-price-compare
                                    original
                                    money
                                  "
                                >
                                  {{ product.compare_at_price | money }}
                                </span>
                              {%- endif -%}
                            </div>
                            {%- if product.vendor -%}
                              <span class="livesearch-product-vendor meta">{{ product.vendor }}</span>
                            {%- endif -%}
                            
                          </div>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}

              {%- if pages_posts_results_available -%}
                <div class="livesearch-results-pages-posts">
                  <h3 class="livesearch-pages-header meta">
                    {%- if pages_results_available and posts_results_available == false -%}
                      {{ 'general.livesearch.pages_results_header' | t }}
                    {%- elsif pages_results_available == false and posts_results_available -%}
                      {{ 'general.livesearch.posts_results_header' | t }}
                    {%- else -%}
                      {{ 'general.livesearch.pages_posts_results_header' | t }}
                    {%- endif -%}
                  </h3>
                  <ul class="livesearch-pages-list">
                    {%- for page in predictive_search.resources.pages -%}
                      <li class="livesearch-page">
                        <a class="livesearch-page-link" href="{{ page.url }}">
                          <h4 class="livesearch-page-title">{{ page.title }}</h4>
                        </a>
                      </li>
                    {%- endfor -%}
                    {%- for article in predictive_search.resources.articles -%}
                      <li class="livesearch-post">
                        <a class="livesearch-post-link" href="{{ article.url }}">
                          <div class="livesearch-post-date meta">{{ article.published_at | date: "%d %b %Y" }}</div>
                          <div class="livesearch-post-author meta">{{ article.author }}</div>
                          <h4 class="livesearch-post-title">{{ article.title }}</h4>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}

          {%- if no_search_results -%}
            <p class="livesearch-no-results">{{ 'general.livesearch.no_results' | t }}</p>
          {%- endif -%}

        </div>
      </div>

      <a
        class="livesearch-searchfor"
        href="{{ routes.search_url }}?q={{ predictive_search.terms }}"
        data-livesearch-searchfor-link
      >
        {{ 'general.livesearch.search_for' | t: search_terms: predictive_search.terms }}
      </a>
    {%- endif -%}
  </div>
</div>
